<div class="rr-table-container">
  <jhi-alert-error />
  <jhi-alert />

  <rr-table-toolbar
    title="Multimedia"
    description="Fotos y archivos de inmuebles"
    [createRoute]="['/multimedia-inmueble/new']"
    createLabel="Nueva Multimedia"
    [isLoading]="isLoading()"
    [totalCount]="filteredItems().length"
    (searchChange)="searchTerm.set($event)"
    (refresh)="load()"
  />

  @if (filteredItems().length === 0) {
    <rr-empty-state
      entityLabel="archivos multimedia"
      [createRoute]="['/multimedia-inmueble/new']"
      createLabel="Agregar Multimedia"
      [searchActive]="searchTerm().length > 0"
    />
  } @else {
    <div class="rr-table-wrap" id="entities">
      <table class="rr-table" aria-describedby="page-heading">
        <thead>
          <tr jhiSort [(sortState)]="sortState" (sortChange)="navigateToWithComponentValues($event)">
            <th scope="col" jhiSortBy="id"><div class="d-flex"><span jhiTranslate="global.field.id">ID</span><fa-icon class="p-1" icon="sort" /></div></th>
            <th scope="col" jhiSortBy="urlMedia"><div class="d-flex"><span jhiTranslate="roomApp.multimediaInmueble.urlMedia">URL</span><fa-icon class="p-1" icon="sort" /></div></th>
            <th scope="col" jhiSortBy="tipoMedia"><div class="d-flex"><span jhiTranslate="roomApp.multimediaInmueble.tipoMedia">Tipo</span><fa-icon class="p-1" icon="sort" /></div></th>
            <th scope="col" jhiSortBy="principal"><div class="d-flex"><span jhiTranslate="roomApp.multimediaInmueble.principal">Principal</span><fa-icon class="p-1" icon="sort" /></div></th>
            <th scope="col" jhiSortBy="titulo"><div class="d-flex"><span jhiTranslate="roomApp.multimediaInmueble.titulo">Título</span><fa-icon class="p-1" icon="sort" /></div></th>
            <th scope="col" jhiSortBy="inmueble.id"><div class="d-flex"><span jhiTranslate="roomApp.multimediaInmueble.inmueble">Inmueble</span><fa-icon class="p-1" icon="sort" /></div></th>
            <th scope="col" class="rr-col-actions"></th>
          </tr>
        </thead>
        <tbody>
          @for (multimediaInmueble of filteredItems(); track trackId(multimediaInmueble)) {
            <tr data-cy="entityTable">
              <td><a [routerLink]="['/multimedia-inmueble', multimediaInmueble.id, 'view']">{{ multimediaInmueble.id }}</a></td>
              <td>{{ multimediaInmueble.urlMedia }}</td>
              <td>{{ multimediaInmueble.tipoMedia }}</td>
              <td>{{ multimediaInmueble.principal }}</td>
              <td>{{ multimediaInmueble.titulo }}</td>
              <td>
                @if (multimediaInmueble.inmueble) {
                  <a [routerLink]="['/inmueble', multimediaInmueble.inmueble.id, 'view']">{{ multimediaInmueble.inmueble.id }}</a>
                }
              </td>
              <td class="rr-col-actions">
                <div class="rr-actions">
                  <a [routerLink]="['/multimedia-inmueble', multimediaInmueble.id, 'view']" class="rr-btn-action rr-btn-view" title="Ver" data-cy="entityDetailsButton"><fa-icon icon="eye" /></a>
                  <a [routerLink]="['/multimedia-inmueble', multimediaInmueble.id, 'edit']" class="rr-btn-action rr-btn-edit" title="Editar" data-cy="entityEditButton"><fa-icon icon="pencil-alt" /></a>
                  <button type="button" (click)="delete(multimediaInmueble)" class="rr-btn-action rr-btn-delete" title="Eliminar" data-cy="entityDeleteButton"><fa-icon icon="trash-alt" /></button>
                </div>
              </td>
            </tr>
          }
        </tbody>
      </table>
    </div>
  }
</div>
