<div class="rr-table-container">
  <jhi-alert-error />
  <jhi-alert />

  <rr-table-toolbar
    title="Perfiles de Usuario"
    description="Información personal de arrendadores y arrendatarios"
    [createRoute]="['/perfil-usuario/new']"
    createLabel="Nuevo Perfil"
    [isLoading]="isLoading()"
    [totalCount]="totalItems()"
    (searchChange)="searchTerm.set($event)"
    (refresh)="load()"
  />

  @if (filteredItems().length === 0) {
    <rr-empty-state
      entityLabel="perfiles de usuario"
      [createRoute]="['/perfil-usuario/new']"
      createLabel="Crear Perfil"
      [searchActive]="searchTerm().length > 0"
    />
  } @else {
    <div class="rr-table-wrap" id="entities">
      <table class="rr-table" aria-describedby="page-heading">
        <thead>
          <tr jhiSort [(sortState)]="sortState" (sortChange)="navigateToWithComponentValues($event)">
            <th scope="col" jhiSortBy="id"><div class="d-flex"><span jhiTranslate="global.field.id">ID</span><fa-icon class="p-1" icon="sort" /></div></th>
            <th scope="col" jhiSortBy="tipoDocumento"><div class="d-flex"><span jhiTranslate="roomApp.perfilUsuario.tipoDocumento">Tipo Doc.</span><fa-icon class="p-1" icon="sort" /></div></th>
            <th scope="col" jhiSortBy="numeroDocumento"><div class="d-flex"><span jhiTranslate="roomApp.perfilUsuario.numeroDocumento">No. Documento</span><fa-icon class="p-1" icon="sort" /></div></th>
            <th scope="col" jhiSortBy="primerNombre"><div class="d-flex"><span jhiTranslate="roomApp.perfilUsuario.primerNombre">Primer Nombre</span><fa-icon class="p-1" icon="sort" /></div></th>
            <th scope="col" jhiSortBy="segundoNombre"><div class="d-flex"><span jhiTranslate="roomApp.perfilUsuario.segundoNombre">Segundo Nombre</span><fa-icon class="p-1" icon="sort" /></div></th>
            <th scope="col" jhiSortBy="primerApellido"><div class="d-flex"><span jhiTranslate="roomApp.perfilUsuario.primerApellido">Primer Apellido</span><fa-icon class="p-1" icon="sort" /></div></th>
            <th scope="col" jhiSortBy="segundoApellido"><div class="d-flex"><span jhiTranslate="roomApp.perfilUsuario.segundoApellido">Segundo Apellido</span><fa-icon class="p-1" icon="sort" /></div></th>
            <th scope="col" jhiSortBy="fechaNacimiento"><div class="d-flex"><span jhiTranslate="roomApp.perfilUsuario.fechaNacimiento">Nacimiento</span><fa-icon class="p-1" icon="sort" /></div></th>
            <th scope="col" jhiSortBy="genero"><div class="d-flex"><span jhiTranslate="roomApp.perfilUsuario.genero">Género</span><fa-icon class="p-1" icon="sort" /></div></th>
            <th scope="col" jhiSortBy="telefono"><div class="d-flex"><span jhiTranslate="roomApp.perfilUsuario.telefono">Teléfono</span><fa-icon class="p-1" icon="sort" /></div></th>
            <th scope="col" jhiSortBy="direccionActual"><div class="d-flex"><span jhiTranslate="roomApp.perfilUsuario.direccionActual">Dirección</span><fa-icon class="p-1" icon="sort" /></div></th>
            <th scope="col" jhiSortBy="ciudad"><div class="d-flex"><span jhiTranslate="roomApp.perfilUsuario.ciudad">Ciudad</span><fa-icon class="p-1" icon="sort" /></div></th>
            <th scope="col" jhiSortBy="profesion"><div class="d-flex"><span jhiTranslate="roomApp.perfilUsuario.profesion">Profesión</span><fa-icon class="p-1" icon="sort" /></div></th>
            <th scope="col" jhiSortBy="tieneMascotas"><div class="d-flex"><span jhiTranslate="roomApp.perfilUsuario.tieneMascotas">Mascotas</span><fa-icon class="p-1" icon="sort" /></div></th>
            <th scope="col" jhiSortBy="fumador"><div class="d-flex"><span jhiTranslate="roomApp.perfilUsuario.fumador">Fumador</span><fa-icon class="p-1" icon="sort" /></div></th>
            <th scope="col" jhiSortBy="verificado"><div class="d-flex"><span jhiTranslate="roomApp.perfilUsuario.verificado">Verificado</span><fa-icon class="p-1" icon="sort" /></div></th>
            <th scope="col" jhiSortBy="estado"><div class="d-flex"><span jhiTranslate="roomApp.perfilUsuario.estado">Estado</span><fa-icon class="p-1" icon="sort" /></div></th>
            <th scope="col" jhiSortBy="fechaCreacion"><div class="d-flex"><span jhiTranslate="roomApp.perfilUsuario.fechaCreacion">Creación</span><fa-icon class="p-1" icon="sort" /></div></th>
            <th scope="col" jhiSortBy="usuario.login"><div class="d-flex"><span jhiTranslate="roomApp.perfilUsuario.usuario">Usuario</span><fa-icon class="p-1" icon="sort" /></div></th>
            <th scope="col" class="rr-col-actions"></th>
          </tr>
        </thead>
        <tbody>
          @for (perfilUsuario of filteredItems(); track trackId(perfilUsuario)) {
            <tr data-cy="entityTable">
              <td><a [routerLink]="['/perfil-usuario', perfilUsuario.id, 'view']">{{ perfilUsuario.id }}</a></td>
              <td [jhiTranslate]="'roomApp.TipoDocumento.' + (perfilUsuario.tipoDocumento ?? 'null')">
                {{ { null: '', CC: 'CC', CE: 'CE', TI: 'TI', PASSPORT: 'PASSPORT', NIT: 'NIT', OTRO: 'OTRO' }[perfilUsuario.tipoDocumento ?? 'null'] }}
              </td>
              <td>{{ perfilUsuario.numeroDocumento }}</td>
              <td>{{ perfilUsuario.primerNombre }}</td>
              <td>{{ perfilUsuario.segundoNombre }}</td>
              <td>{{ perfilUsuario.primerApellido }}</td>
              <td>{{ perfilUsuario.segundoApellido }}</td>
              <td>{{ perfilUsuario.fechaNacimiento | formatMediumDate }}</td>
              <td [jhiTranslate]="'roomApp.Genero.' + (perfilUsuario.genero ?? 'null')">
                {{ { null: '', MASCULINO: 'MASCULINO', FEMENINO: 'FEMENINO', OTRO: 'OTRO', PREFIERO_NO_DECIR: 'PREFIERO_NO_DECIR' }[perfilUsuario.genero ?? 'null'] }}
              </td>
              <td>{{ perfilUsuario.telefono }}</td>
              <td>{{ perfilUsuario.direccionActual }}</td>
              <td>{{ perfilUsuario.ciudad }}</td>
              <td>{{ perfilUsuario.profesion }}</td>
              <td>{{ perfilUsuario.tieneMascotas }}</td>
              <td>{{ perfilUsuario.fumador }}</td>
              <td>{{ perfilUsuario.verificado }}</td>
              <td [jhiTranslate]="'roomApp.EstadoUsuario.' + (perfilUsuario.estado ?? 'null')">
                {{ { null: '', PENDIENTE_VERIFICACION: 'PENDIENTE_VERIFICACION', ACTIVO: 'ACTIVO', INACTIVO: 'INACTIVO', SUSPENDIDO: 'SUSPENDIDO', BLOQUEADO: 'BLOQUEADO', BANEADO: 'BANEADO' }[perfilUsuario.estado ?? 'null'] }}
              </td>
              <td>{{ perfilUsuario.fechaCreacion | formatMediumDatetime }}</td>
              <td>{{ perfilUsuario.usuario?.login }}</td>
              <td class="rr-col-actions">
                <div class="rr-actions">
                  <a [routerLink]="['/perfil-usuario', perfilUsuario.id, 'view']" class="rr-btn-action rr-btn-view" title="Ver" data-cy="entityDetailsButton"><fa-icon icon="eye" /></a>
                  <a [routerLink]="['/perfil-usuario', perfilUsuario.id, 'edit']" class="rr-btn-action rr-btn-edit" title="Editar" data-cy="entityEditButton"><fa-icon icon="pencil-alt" /></a>
                  <button type="button" (click)="delete(perfilUsuario)" class="rr-btn-action rr-btn-delete" title="Eliminar" data-cy="entityDeleteButton"><fa-icon icon="trash-alt" /></button>
                </div>
              </td>
            </tr>
          }
        </tbody>
      </table>
    </div>

    <div class="rr-pagination-area">
      <jhi-item-count [params]="{ page: page(), totalItems: totalItems(), itemsPerPage: itemsPerPage() }" />
      <ngb-pagination
        [collectionSize]="totalItems()"
        [page]="page()"
        [pageSize]="itemsPerPage()"
        [maxSize]="5"
        [rotate]="true"
        [boundaryLinks]="true"
        (pageChange)="navigateToPage($event)"
      />
    </div>
  }
</div>
