<div class="rr-table-container">
  <jhi-alert-error />
  <jhi-alert />

  <rr-table-toolbar
    title="Gestión de Usuarios"
    description="Cuentas de usuario del sistema"
    [createRoute]="['./new']"
    createLabel="Nuevo Usuario"
    [isLoading]="isLoading()"
    [totalCount]="totalItems()"
    (searchChange)="searchTerm.set($event)"
    (refresh)="loadAll()"
  />

  @if (users()) {
    @if (filteredItems().length === 0) {
      <rr-empty-state
        entityLabel="usuarios"
        [createRoute]="['./new']"
        createLabel="Crear Usuario"
        [searchActive]="searchTerm().length > 0"
      />
    } @else {
      <div class="rr-table-wrap" id="entities">
        <table class="rr-table" aria-describedby="page-heading">
          <thead>
            <tr jhiSort [(sortState)]="sortState" (sortChange)="transition($event)">
              <th scope="col" jhiSortBy="id"><div class="d-flex"><span jhiTranslate="global.field.id">ID</span><fa-icon class="p-1" icon="sort" /></div></th>
              <th scope="col" jhiSortBy="login"><div class="d-flex"><span jhiTranslate="userManagement.login">Login</span><fa-icon class="p-1" icon="sort" /></div></th>
              <th scope="col" jhiSortBy="email"><div class="d-flex"><span jhiTranslate="userManagement.email">Email</span><fa-icon class="p-1" icon="sort" /></div></th>
              <th scope="col"><span jhiTranslate="userManagement.activated">Estado</span></th>
              <th scope="col" jhiSortBy="langKey"><div class="d-flex"><span jhiTranslate="userManagement.langKey">Idioma</span><fa-icon class="p-1" icon="sort" /></div></th>
              <th scope="col"><span jhiTranslate="userManagement.profiles">Perfiles</span></th>
              <th scope="col" jhiSortBy="createdDate"><div class="d-flex"><span jhiTranslate="userManagement.createdDate">Creación</span><fa-icon class="p-1" icon="sort" /></div></th>
              <th scope="col" jhiSortBy="lastModifiedBy"><div class="d-flex"><span jhiTranslate="userManagement.lastModifiedBy">Modificado por</span><fa-icon class="p-1" icon="sort" /></div></th>
              <th scope="col" jhiSortBy="lastModifiedDate"><div class="d-flex"><span jhiTranslate="userManagement.lastModifiedDate">Fecha modif.</span><fa-icon class="p-1" icon="sort" /></div></th>
              <th scope="col" class="rr-col-actions"></th>
            </tr>
          </thead>
          <tbody>
            @for (userManagement of filteredItems(); track trackIdentity(userManagement)) {
              <tr data-cy="entityTable">
                <td><a [routerLink]="['./', userManagement.login, 'view']">{{ userManagement.id }}</a></td>
                <td>{{ userManagement.login }}</td>
                <td>{{ userManagement.email }}</td>
                <td>
                  @if (!userManagement.activated) {
                    <button class="btn btn-danger btn-sm" (click)="setActive(userManagement, true)" jhiTranslate="userManagement.deactivated">Desactivado</button>
                  } @else {
                    <button class="btn btn-success btn-sm" (click)="setActive(userManagement, false)" [disabled]="!currentAccount() || currentAccount()?.login === userManagement.login" jhiTranslate="userManagement.activated">Activado</button>
                  }
                </td>
                <td>{{ userManagement.langKey }}</td>
                <td>
                  @for (authority of userManagement.authorities; track $index) {
                    <div><span class="badge bg-info">{{ authority }}</span></div>
                  }
                </td>
                <td>{{ userManagement.createdDate | date: 'dd/MM/yy HH:mm' }}</td>
                <td>{{ userManagement.lastModifiedBy }}</td>
                <td>{{ userManagement.lastModifiedDate | date: 'dd/MM/yy HH:mm' }}</td>
                <td class="rr-col-actions">
                  <div class="rr-actions">
                    <a [routerLink]="['./', userManagement.login, 'view']" class="rr-btn-action rr-btn-view" title="Ver" data-cy="entityDetailsButton"><fa-icon icon="eye" /></a>
                    <a [routerLink]="['./', userManagement.login, 'edit']" queryParamsHandling="merge" class="rr-btn-action rr-btn-edit" title="Editar" data-cy="entityEditButton"><fa-icon icon="pencil-alt" /></a>
                    <button type="button" (click)="deleteUser(userManagement)" class="rr-btn-action rr-btn-delete" title="Eliminar" data-cy="entityDeleteButton" [disabled]="!currentAccount() || currentAccount()?.login === userManagement.login"><fa-icon icon="trash-alt" /></button>
                  </div>
                </td>
              </tr>
            }
          </tbody>
        </table>
      </div>

      <div class="rr-pagination-area">
        <jhi-item-count [params]="{ page: page(), totalItems: totalItems(), itemsPerPage: itemsPerPage() }" />
        <ngb-pagination
          [collectionSize]="totalItems()"
          [(page)]="page"
          [pageSize]="itemsPerPage()"
          [maxSize]="5"
          [rotate]="true"
          [boundaryLinks]="true"
          (pageChange)="transition()"
        />
      </div>
    }
  }
</div>
