<div class="rr-table-container">
  <jhi-alert-error />
  <jhi-alert />

  <rr-table-toolbar
    title="Visitas Programadas"
    description="Citas y visitas a inmuebles"
    [createRoute]="['/visita-programada/new']"
    createLabel="Nueva Visita"
    [isLoading]="isLoading()"
    [totalCount]="filteredItems().length"
    (searchChange)="searchTerm.set($event)"
    (refresh)="load()"
  />

  @if (filteredItems().length === 0) {
    <rr-empty-state
      entityLabel="visitas programadas"
      [createRoute]="['/visita-programada/new']"
      createLabel="Programar Visita"
      [searchActive]="searchTerm().length > 0"
    />
  } @else {
    <div class="rr-table-wrap" id="entities">
      <table class="rr-table" aria-describedby="page-heading">
        <thead>
          <tr jhiSort [(sortState)]="sortState" (sortChange)="navigateToWithComponentValues($event)">
            <th scope="col" jhiSortBy="id"><div class="d-flex"><span jhiTranslate="global.field.id">ID</span><fa-icon class="p-1" icon="sort" /></div></th>
            <th scope="col" jhiSortBy="fechaSolicitada"><div class="d-flex"><span jhiTranslate="roomApp.visitaProgramada.fechaSolicitada">Solicitada</span><fa-icon class="p-1" icon="sort" /></div></th>
            <th scope="col" jhiSortBy="fechaConfirmada"><div class="d-flex"><span jhiTranslate="roomApp.visitaProgramada.fechaConfirmada">Confirmada</span><fa-icon class="p-1" icon="sort" /></div></th>
            <th scope="col" jhiSortBy="notas"><div class="d-flex"><span jhiTranslate="roomApp.visitaProgramada.notas">Notas</span><fa-icon class="p-1" icon="sort" /></div></th>
            <th scope="col" jhiSortBy="estado"><div class="d-flex"><span jhiTranslate="roomApp.visitaProgramada.estado">Estado</span><fa-icon class="p-1" icon="sort" /></div></th>
            <th scope="col" jhiSortBy="visitante.primerNombre"><div class="d-flex"><span jhiTranslate="roomApp.visitaProgramada.visitante">Visitante</span><fa-icon class="p-1" icon="sort" /></div></th>
            <th scope="col" jhiSortBy="solicitud.id"><div class="d-flex"><span jhiTranslate="roomApp.visitaProgramada.solicitud">Solicitud</span><fa-icon class="p-1" icon="sort" /></div></th>
            <th scope="col" class="rr-col-actions"></th>
          </tr>
        </thead>
        <tbody>
          @for (visitaProgramada of filteredItems(); track trackId(visitaProgramada)) {
            <tr data-cy="entityTable">
              <td><a [routerLink]="['/visita-programada', visitaProgramada.id, 'view']">{{ visitaProgramada.id }}</a></td>
              <td>{{ visitaProgramada.fechaSolicitada | formatMediumDatetime }}</td>
              <td>{{ visitaProgramada.fechaConfirmada | formatMediumDatetime }}</td>
              <td>{{ visitaProgramada.notas }}</td>
              <td [jhiTranslate]="'roomApp.EstadoVisita.' + (visitaProgramada.estado ?? 'null')">{{ visitaProgramada.estado }}</td>
              <td>
                @if (visitaProgramada.visitante) {
                  <a [routerLink]="['/perfil-usuario', visitaProgramada.visitante.id, 'view']">{{ visitaProgramada.visitante.primerNombre }}</a>
                }
              </td>
              <td>
                @if (visitaProgramada.solicitud) {
                  <a [routerLink]="['/solicitud-arriendo', visitaProgramada.solicitud.id, 'view']">{{ visitaProgramada.solicitud.id }}</a>
                }
              </td>
              <td class="rr-col-actions">
                <div class="rr-actions">
                  <a [routerLink]="['/visita-programada', visitaProgramada.id, 'view']" class="rr-btn-action rr-btn-view" title="Ver" data-cy="entityDetailsButton"><fa-icon icon="eye" /></a>
                  <a [routerLink]="['/visita-programada', visitaProgramada.id, 'edit']" class="rr-btn-action rr-btn-edit" title="Editar" data-cy="entityEditButton"><fa-icon icon="pencil-alt" /></a>
                  <button type="button" (click)="delete(visitaProgramada)" class="rr-btn-action rr-btn-delete" title="Eliminar" data-cy="entityDeleteButton"><fa-icon icon="trash-alt" /></button>
                </div>
              </td>
            </tr>
          }
        </tbody>
      </table>
    </div>
  }
</div>
