<div class="rr-table-container">
  <jhi-alert-error />
  <jhi-alert />

  <rr-table-toolbar
    title="Calificaciones"
    description="Valoraciones entre arrendadores, arrendatarios y roomies"
    [createRoute]="['/calificacion/new']"
    createLabel="Nueva Calificación"
    [isLoading]="isLoading()"
    [totalCount]="totalItems()"
    (searchChange)="searchTerm.set($event)"
    (refresh)="load()"
  />

  @if (filteredItems().length === 0) {
    <rr-empty-state
      entityLabel="calificaciones"
      [createRoute]="['/calificacion/new']"
      createLabel="Crear Calificación"
      [searchActive]="searchTerm().length > 0"
    />
  } @else {
    <div class="rr-table-wrap" id="entities">
      <table class="rr-table" aria-describedby="page-heading">
        <thead>
          <tr jhiSort [(sortState)]="sortState" (sortChange)="navigateToWithComponentValues($event)">
            <th scope="col" jhiSortBy="id"><div class="d-flex"><span jhiTranslate="global.field.id">ID</span><fa-icon class="p-1" icon="sort" /></div></th>
            <th scope="col" jhiSortBy="tipoCalificacion"><div class="d-flex"><span jhiTranslate="roomApp.calificacion.tipoCalificacion">Tipo</span><fa-icon class="p-1" icon="sort" /></div></th>
            <th scope="col" jhiSortBy="puntaje"><div class="d-flex"><span jhiTranslate="roomApp.calificacion.puntaje">Puntaje</span><fa-icon class="p-1" icon="sort" /></div></th>
            <th scope="col" jhiSortBy="comentario"><div class="d-flex"><span jhiTranslate="roomApp.calificacion.comentario">Comentario</span><fa-icon class="p-1" icon="sort" /></div></th>
            <th scope="col" jhiSortBy="fechaCreacion"><div class="d-flex"><span jhiTranslate="roomApp.calificacion.fechaCreacion">Fecha</span><fa-icon class="p-1" icon="sort" /></div></th>
            <th scope="col" jhiSortBy="visible"><div class="d-flex"><span jhiTranslate="roomApp.calificacion.visible">Visible</span><fa-icon class="p-1" icon="sort" /></div></th>
            <th scope="col" jhiSortBy="autor.primerNombre"><div class="d-flex"><span jhiTranslate="roomApp.calificacion.autor">Autor</span><fa-icon class="p-1" icon="sort" /></div></th>
            <th scope="col" jhiSortBy="calificado.primerNombre"><div class="d-flex"><span jhiTranslate="roomApp.calificacion.calificado">Calificado</span><fa-icon class="p-1" icon="sort" /></div></th>
            <th scope="col" jhiSortBy="contrato.numeroContrato"><div class="d-flex"><span jhiTranslate="roomApp.calificacion.contrato">Contrato</span><fa-icon class="p-1" icon="sort" /></div></th>
            <th scope="col" class="rr-col-actions"></th>
          </tr>
        </thead>
        <tbody>
          @for (calificacion of filteredItems(); track trackId(calificacion)) {
            <tr data-cy="entityTable">
              <td><a [routerLink]="['/calificacion', calificacion.id, 'view']">{{ calificacion.id }}</a></td>
              <td [jhiTranslate]="'roomApp.TipoCalificacion.' + (calificacion.tipoCalificacion ?? 'null')">{{ calificacion.tipoCalificacion }}</td>
              <td>{{ calificacion.puntaje }}</td>
              <td>{{ calificacion.comentario }}</td>
              <td>{{ calificacion.fechaCreacion | formatMediumDatetime }}</td>
              <td>{{ calificacion.visible }}</td>
              <td>
                @if (calificacion.autor) {
                  <a [routerLink]="['/perfil-usuario', calificacion.autor.id, 'view']">{{ calificacion.autor.primerNombre }}</a>
                }
              </td>
              <td>
                @if (calificacion.calificado) {
                  <a [routerLink]="['/perfil-usuario', calificacion.calificado.id, 'view']">{{ calificacion.calificado.primerNombre }}</a>
                }
              </td>
              <td>
                @if (calificacion.contrato) {
                  <a [routerLink]="['/contrato-arriendo', calificacion.contrato.id, 'view']">{{ calificacion.contrato.numeroContrato }}</a>
                }
              </td>
              <td class="rr-col-actions">
                <div class="rr-actions">
                  <a [routerLink]="['/calificacion', calificacion.id, 'view']" class="rr-btn-action rr-btn-view" title="Ver" data-cy="entityDetailsButton"><fa-icon icon="eye" /></a>
                  <a [routerLink]="['/calificacion', calificacion.id, 'edit']" class="rr-btn-action rr-btn-edit" title="Editar" data-cy="entityEditButton"><fa-icon icon="pencil-alt" /></a>
                  <button type="button" (click)="delete(calificacion)" class="rr-btn-action rr-btn-delete" title="Eliminar" data-cy="entityDeleteButton"><fa-icon icon="trash-alt" /></button>
                </div>
              </td>
            </tr>
          }
        </tbody>
      </table>
    </div>

    <div class="rr-pagination-area">
      <jhi-item-count [params]="{ page: page(), totalItems: totalItems(), itemsPerPage: itemsPerPage() }" />
      <ngb-pagination
        [collectionSize]="totalItems()"
        [page]="page()"
        [pageSize]="itemsPerPage()"
        [maxSize]="5"
        [rotate]="true"
        [boundaryLinks]="true"
        (pageChange)="navigateToPage($event)"
      />
    </div>
  }
</div>
