<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2
        id="jhi-solicitud-roomie-heading"
        data-cy="SolicitudRoomieCreateUpdateHeading"
        jhiTranslate="roomApp.solicitudRoomie.home.createOrEditLabel"
      >
        Crear o editar Solicitud Roomie
      </h2>

      <div>
        <jhi-alert-error />

        @if (editForm.controls.id.value !== null) {
          <div class="mb-3">
            <label class="form-label" for="field_id" jhiTranslate="global.field.id">ID</label>
            <input type="text" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
          </div>
        }

        <div class="mb-3">
          <label class="form-label" for="field_mensaje" jhiTranslate="roomApp.solicitudRoomie.mensaje">Mensaje</label>
          <textarea class="form-control" name="mensaje" id="field_mensaje" data-cy="mensaje" formControlName="mensaje"></textarea>
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_referencias" jhiTranslate="roomApp.solicitudRoomie.referencias">Referencias</label>
          <textarea
            class="form-control"
            name="referencias"
            id="field_referencias"
            data-cy="referencias"
            formControlName="referencias"
          ></textarea>
        </div>

        @let estadoRef = editForm.get('estado')!;
        <div class="mb-3">
          <label class="form-label" for="field_estado" jhiTranslate="roomApp.solicitudRoomie.estado">Estado</label>
          <select class="form-control" name="estado" formControlName="estado" id="field_estado" data-cy="estado">
            <option [ngValue]="null">{{ 'roomApp.EstadoSolicitud.null' | translate }}</option>
            @for (estadoSolicitud of estadoSolicitudValues; track $index) {
              <option [value]="estadoSolicitud">{{ 'roomApp.EstadoSolicitud.' + estadoSolicitud | translate }}</option>
            }
          </select>
          @if (estadoRef.invalid && (estadoRef.dirty || estadoRef.touched)) {
            <div>
              @if (editForm.get('estado')?.errors?.required) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.required">Este campo es obligatorio.</small>
              }
            </div>
          }
        </div>

        @let fechaCreacionRef = editForm.get('fechaCreacion')!;
        <div class="mb-3">
          <label class="form-label" for="field_fechaCreacion" jhiTranslate="roomApp.solicitudRoomie.fechaCreacion">Fecha Creacion</label>
          <div class="d-flex">
            <input
              id="field_fechaCreacion"
              data-cy="fechaCreacion"
              type="datetime-local"
              class="form-control"
              name="fechaCreacion"
              formControlName="fechaCreacion"
              placeholder="YYYY-MM-DD HH:mm"
            />
          </div>
          @if (fechaCreacionRef.invalid && (fechaCreacionRef.dirty || fechaCreacionRef.touched)) {
            <div>
              @if (editForm.get('fechaCreacion')?.errors?.required) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.required">Este campo es obligatorio.</small>
              }
              <small
                class="form-text text-danger"
                [hidden]="!editForm.get('fechaCreacion')?.errors?.datetimelocal"
                jhiTranslate="entity.validation.datetimelocal"
                >Este campo debe ser una fecha y hora.</small
              >
            </div>
          }
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_postulante" jhiTranslate="roomApp.solicitudRoomie.postulante">Postulante</label>
          <select
            class="form-control"
            id="field_postulante"
            data-cy="postulante"
            name="postulante"
            formControlName="postulante"
            [compareWith]="comparePerfilUsuario"
          >
            <option [ngValue]="null"></option>
            @for (perfilUsuarioOption of perfilUsuariosSharedCollection(); track $index) {
              <option [ngValue]="perfilUsuarioOption">{{ perfilUsuarioOption.primerNombre }}</option>
            }
          </select>
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_publicacionRoomie" jhiTranslate="roomApp.solicitudRoomie.publicacionRoomie"
            >Publicacion Roomie</label
          >
          <select
            class="form-control"
            id="field_publicacionRoomie"
            data-cy="publicacionRoomie"
            name="publicacionRoomie"
            formControlName="publicacionRoomie"
            [compareWith]="comparePublicacionRoomie"
          >
            <option [ngValue]="null"></option>
            @for (publicacionRoomieOption of publicacionRoomiesSharedCollection(); track $index) {
              <option [ngValue]="publicacionRoomieOption">{{ publicacionRoomieOption.id }}</option>
            }
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban" />&nbsp;<span jhiTranslate="entity.action.cancel">Cancelar</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving()"
          class="btn btn-primary"
        >
          <fa-icon icon="save" />&nbsp;<span jhiTranslate="entity.action.save">Guardar</span>
        </button>
      </div>
    </form>
  </div>
</div>
