<div class="rr-table-container">
  <jhi-alert-error />
  <jhi-alert />

  <rr-table-toolbar
    title="Publicaciones Roomie"
    description="Habitaciones disponibles para compartir"
    [createRoute]="['/publicacion-roomie/new']"
    createLabel="Nueva Publicación"
    [isLoading]="isLoading()"
    [totalCount]="totalItems()"
    (searchChange)="searchTerm.set($event)"
    (refresh)="load()"
  />

  @if (filteredItems().length === 0) {
    <rr-empty-state
      entityLabel="publicaciones roomie"
      [createRoute]="['/publicacion-roomie/new']"
      createLabel="Publicar Habitación"
      [searchActive]="searchTerm().length > 0"
    />
  } @else {
    <div class="rr-table-wrap" id="entities">
      <table class="rr-table" aria-describedby="page-heading">
        <thead>
          <tr jhiSort [(sortState)]="sortState" (sortChange)="navigateToWithComponentValues($event)">
            <th scope="col" jhiSortBy="id"><div class="d-flex"><span jhiTranslate="global.field.id">ID</span><fa-icon class="p-1" icon="sort" /></div></th>
            <th scope="col" jhiSortBy="titulo"><div class="d-flex"><span jhiTranslate="roomApp.publicacionRoomie.titulo">Título</span><fa-icon class="p-1" icon="sort" /></div></th>
            <th scope="col" jhiSortBy="nombreHabitacion"><div class="d-flex"><span jhiTranslate="roomApp.publicacionRoomie.nombreHabitacion">Habitación</span><fa-icon class="p-1" icon="sort" /></div></th>
            <th scope="col" jhiSortBy="valorMensual"><div class="d-flex"><span jhiTranslate="roomApp.publicacionRoomie.valorMensual">Valor/Mes</span><fa-icon class="p-1" icon="sort" /></div></th>
            <th scope="col" jhiSortBy="generoPreferido"><div class="d-flex"><span jhiTranslate="roomApp.publicacionRoomie.generoPreferido">Género</span><fa-icon class="p-1" icon="sort" /></div></th>
            <th scope="col" jhiSortBy="fechaDisponible"><div class="d-flex"><span jhiTranslate="roomApp.publicacionRoomie.fechaDisponible">Disponible</span><fa-icon class="p-1" icon="sort" /></div></th>
            <th scope="col" jhiSortBy="estado"><div class="d-flex"><span jhiTranslate="roomApp.publicacionRoomie.estado">Estado</span><fa-icon class="p-1" icon="sort" /></div></th>
            <th scope="col" jhiSortBy="arrendatario.primerNombre"><div class="d-flex"><span jhiTranslate="roomApp.publicacionRoomie.arrendatario">Arrendatario</span><fa-icon class="p-1" icon="sort" /></div></th>
            <th scope="col" jhiSortBy="inmueble.nombre"><div class="d-flex"><span jhiTranslate="roomApp.publicacionRoomie.inmueble">Inmueble</span><fa-icon class="p-1" icon="sort" /></div></th>
            <th scope="col" class="rr-col-actions"></th>
          </tr>
        </thead>
        <tbody>
          @for (publicacionRoomie of filteredItems(); track trackId(publicacionRoomie)) {
            <tr data-cy="entityTable">
              <td><a [routerLink]="['/publicacion-roomie', publicacionRoomie.id, 'view']">{{ publicacionRoomie.id }}</a></td>
              <td>{{ publicacionRoomie.titulo }}</td>
              <td>{{ publicacionRoomie.nombreHabitacion }}</td>
              <td>{{ publicacionRoomie.valorMensual }}</td>
              <td [jhiTranslate]="'roomApp.Genero.' + (publicacionRoomie.generoPreferido ?? 'null')">
                {{ { null: '', MASCULINO: 'MASCULINO', FEMENINO: 'FEMENINO', OTRO: 'OTRO', PREFIERO_NO_DECIR: 'PREFIERO_NO_DECIR' }[publicacionRoomie.generoPreferido ?? 'null'] }}
              </td>
              <td>{{ publicacionRoomie.fechaDisponible | formatMediumDate }}</td>
              <td [jhiTranslate]="'roomApp.EstadoPublicacion.' + (publicacionRoomie.estado ?? 'null')">
                {{ { null: '', BORRADOR: 'Borrador', PUBLICADA: 'Publicada', VISITA_AGENDADA: 'Visita agendada', POSTULANTE_SELECCIONADO: 'Postulante seleccionado', RESERVADA: 'Reservada', CONTRATO_EN_FIRMA: 'Contrato en firma', ARRENDADA: 'Arrendada', FINALIZADA: 'Finalizada', ARCHIVADA: 'Archivada' }[publicacionRoomie.estado ?? 'null'] }}
              </td>
              <td>
                @if (publicacionRoomie.arrendatario) {
                  <a [routerLink]="['/perfil-usuario', publicacionRoomie.arrendatario.id, 'view']">{{ publicacionRoomie.arrendatario.primerNombre }}</a>
                }
              </td>
              <td>
                @if (publicacionRoomie.inmueble) {
                  <a [routerLink]="['/inmueble', publicacionRoomie.inmueble.id, 'view']">{{ publicacionRoomie.inmueble.nombre }}</a>
                }
              </td>
              <td class="rr-col-actions">
                <div class="rr-actions">
                  <a [routerLink]="['/publicacion-roomie', publicacionRoomie.id, 'view']" class="rr-btn-action rr-btn-view" title="Ver" data-cy="entityDetailsButton"><fa-icon icon="eye" /></a>
                  <a [routerLink]="['/publicacion-roomie', publicacionRoomie.id, 'edit']" class="rr-btn-action rr-btn-edit" title="Editar" data-cy="entityEditButton"><fa-icon icon="pencil-alt" /></a>
                  <button type="button" (click)="delete(publicacionRoomie)" class="rr-btn-action rr-btn-delete" title="Eliminar" data-cy="entityDeleteButton"><fa-icon icon="trash-alt" /></button>
                </div>
              </td>
            </tr>
          }
        </tbody>
      </table>
    </div>

    <div class="rr-pagination-area">
      <jhi-item-count [params]="{ page: page(), totalItems: totalItems(), itemsPerPage: itemsPerPage() }" />
      <ngb-pagination
        [collectionSize]="totalItems()"
        [page]="page()"
        [pageSize]="itemsPerPage()"
        [maxSize]="5"
        [rotate]="true"
        [boundaryLinks]="true"
        (pageChange)="navigateToPage($event)"
      />
    </div>
  }
</div>
