<div>
  <h2 id="page-heading" data-cy="PublicacionRoomieHeading">
    <span jhiTranslate="roomApp.publicacionRoomie.home.title">Publicacion Roomies</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading()">
        <fa-icon icon="sync" [animation]="isLoading() ? 'spin' : undefined" />
        <span jhiTranslate="roomApp.publicacionRoomie.home.refreshListLabel">Refrescar lista</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-publicacion-roomie"
        [routerLink]="['/publicacion-roomie/new']"
      >
        <fa-icon icon="plus" />
        <span jhiTranslate="roomApp.publicacionRoomie.home.createLabel">Crear nuevo Publicacion Roomie</span>
      </button>
    </div>
  </h2>

  <jhi-alert-error />

  <jhi-alert />

  @if (publicacionRoomies().length === 0) {
    <div class="alert alert-warning" id="no-result">
      <span jhiTranslate="roomApp.publicacionRoomie.home.notFound">Ningún Publicacion Roomies encontrado</span>
    </div>
  } @else {
    <div class="table-responsive table-entities" id="entities">
      <table class="table table-striped" aria-describedby="page-heading">
        <thead>
          <tr jhiSort [(sortState)]="sortState" (sortChange)="navigateToWithComponentValues($event)">
            <th scope="col" jhiSortBy="id">
              <div class="d-flex">
                <span jhiTranslate="global.field.id">ID</span>

                <fa-icon class="p-1" icon="sort" />
              </div>
            </th>
            <th scope="col" jhiSortBy="titulo">
              <div class="d-flex">
                <span jhiTranslate="roomApp.publicacionRoomie.titulo">Titulo</span>

                <fa-icon class="p-1" icon="sort" />
              </div>
            </th>
            <th scope="col" jhiSortBy="nombreHabitacion">
              <div class="d-flex">
                <span jhiTranslate="roomApp.publicacionRoomie.nombreHabitacion">Nombre Habitacion</span>

                <fa-icon class="p-1" icon="sort" />
              </div>
            </th>
            <th scope="col" jhiSortBy="valorMensual">
              <div class="d-flex">
                <span jhiTranslate="roomApp.publicacionRoomie.valorMensual">Valor Mensual</span>

                <fa-icon class="p-1" icon="sort" />
              </div>
            </th>
            <th scope="col" jhiSortBy="serviciosIncluidos">
              <div class="d-flex">
                <span jhiTranslate="roomApp.publicacionRoomie.serviciosIncluidos">Servicios Incluidos</span>

                <fa-icon class="p-1" icon="sort" />
              </div>
            </th>
            <th scope="col" jhiSortBy="espaciosCompartidos">
              <div class="d-flex">
                <span jhiTranslate="roomApp.publicacionRoomie.espaciosCompartidos">Espacios Compartidos</span>

                <fa-icon class="p-1" icon="sort" />
              </div>
            </th>
            <th scope="col" jhiSortBy="generoPreferido">
              <div class="d-flex">
                <span jhiTranslate="roomApp.publicacionRoomie.generoPreferido">Genero Preferido</span>

                <fa-icon class="p-1" icon="sort" />
              </div>
            </th>
            <th scope="col" jhiSortBy="fechaDisponible">
              <div class="d-flex">
                <span jhiTranslate="roomApp.publicacionRoomie.fechaDisponible">Fecha Disponible</span>

                <fa-icon class="p-1" icon="sort" />
              </div>
            </th>
            <th scope="col" jhiSortBy="estado">
              <div class="d-flex">
                <span jhiTranslate="roomApp.publicacionRoomie.estado">Estado</span>

                <fa-icon class="p-1" icon="sort" />
              </div>
            </th>
            <th scope="col" jhiSortBy="arrendatario.primerNombre">
              <div class="d-flex">
                <span jhiTranslate="roomApp.publicacionRoomie.arrendatario">Arrendatario</span>
                <fa-icon class="p-1" icon="sort" />
              </div>
            </th>
            <th scope="col" jhiSortBy="inmueble.nombre">
              <div class="d-flex">
                <span jhiTranslate="roomApp.publicacionRoomie.inmueble">Inmueble</span>
                <fa-icon class="p-1" icon="sort" />
              </div>
            </th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          @for (publicacionRoomie of publicacionRoomies(); track trackId(publicacionRoomie)) {
            <tr data-cy="entityTable">
              <td>
                <a [routerLink]="['/publicacion-roomie', publicacionRoomie.id, 'view']">{{ publicacionRoomie.id }}</a>
              </td>
              <td>{{ publicacionRoomie.titulo }}</td>
              <td>{{ publicacionRoomie.nombreHabitacion }}</td>
              <td>{{ publicacionRoomie.valorMensual }}</td>
              <td>{{ publicacionRoomie.serviciosIncluidos }}</td>
              <td>{{ publicacionRoomie.espaciosCompartidos }}</td>
              <td [jhiTranslate]="'roomApp.Genero.' + (publicacionRoomie.generoPreferido ?? 'null')">
                {{
                  { null: '', MASCULINO: 'MASCULINO', FEMENINO: 'FEMENINO', OTRO: 'OTRO', PREFIERO_NO_DECIR: 'PREFIERO_NO_DECIR' }[
                    publicacionRoomie.generoPreferido ?? 'null'
                  ]
                }}
              </td>
              <td>{{ publicacionRoomie.fechaDisponible | formatMediumDate }}</td>
              <td [jhiTranslate]="'roomApp.EstadoPublicacion.' + (publicacionRoomie.estado ?? 'null')">
                {{
                  {
                    null: '',
                    BORRADOR: 'BORRADOR',
                    PUBLICADO: 'PUBLICADO',
                    PAUSADO: 'PAUSADO',
                    ARRENDADO: 'ARRENDADO',
                    FINALIZADO: 'FINALIZADO',
                  }[publicacionRoomie.estado ?? 'null']
                }}
              </td>
              <td>
                @if (publicacionRoomie.arrendatario) {
                  <div>
                    <a [routerLink]="['/perfil-usuario', publicacionRoomie.arrendatario.id, 'view']">{{
                      publicacionRoomie.arrendatario.primerNombre
                    }}</a>
                  </div>
                }
              </td>
              <td>
                @if (publicacionRoomie.inmueble) {
                  <div>
                    <a [routerLink]="['/inmueble', publicacionRoomie.inmueble.id, 'view']">{{ publicacionRoomie.inmueble.nombre }}</a>
                  </div>
                }
              </td>
              <td class="text-end">
                <div class="btn-group">
                  <a
                    [routerLink]="['/publicacion-roomie', publicacionRoomie.id, 'view']"
                    class="btn btn-info btn-sm"
                    data-cy="entityDetailsButton"
                  >
                    <fa-icon icon="eye" />
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.view">Vista</span>
                  </a>

                  <a
                    [routerLink]="['/publicacion-roomie', publicacionRoomie.id, 'edit']"
                    class="btn btn-primary btn-sm"
                    data-cy="entityEditButton"
                  >
                    <fa-icon icon="pencil-alt" />
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Editar</span>
                  </a>

                  <button type="submit" (click)="delete(publicacionRoomie)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                    <fa-icon icon="times" />
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Eliminar</span>
                  </button>
                </div>
              </td>
            </tr>
          }
        </tbody>
      </table>
    </div>
  }
  @if (publicacionRoomies().length > 0) {
    <div>
      <div class="d-flex justify-content-center">
        <jhi-item-count [params]="{ page: page(), totalItems: totalItems(), itemsPerPage: itemsPerPage() }" />
      </div>

      <div class="d-flex justify-content-center">
        <ngb-pagination
          [collectionSize]="totalItems()"
          [page]="page()"
          [pageSize]="itemsPerPage()"
          [maxSize]="5"
          [rotate]="true"
          [boundaryLinks]="true"
          (pageChange)="navigateToPage($event)"
        />
      </div>
    </div>
  }
</div>
