<div class="rr-table-container">
  <jhi-alert-error />
  <jhi-alert />

  <rr-table-toolbar
    title="Solicitudes Roomie"
    description="Postulaciones para compartir habitación"
    [createRoute]="['/solicitud-roomie/new']"
    createLabel="Nueva Solicitud"
    [isLoading]="isLoading()"
    [totalCount]="totalItems()"
    (searchChange)="searchTerm.set($event)"
    (refresh)="load()"
  />

  @if (filteredItems().length === 0) {
    <rr-empty-state
      entityLabel="solicitudes roomie"
      [createRoute]="['/solicitud-roomie/new']"
      createLabel="Crear Solicitud"
      [searchActive]="searchTerm().length > 0"
    />
  } @else {
    <div class="rr-table-wrap" id="entities">
      <table class="rr-table" aria-describedby="page-heading">
        <thead>
          <tr jhiSort [(sortState)]="sortState" (sortChange)="navigateToWithComponentValues($event)">
            <th scope="col" jhiSortBy="id"><div class="d-flex"><span jhiTranslate="global.field.id">ID</span><fa-icon class="p-1" icon="sort" /></div></th>
            <th scope="col" jhiSortBy="mensaje"><div class="d-flex"><span jhiTranslate="roomApp.solicitudRoomie.mensaje">Mensaje</span><fa-icon class="p-1" icon="sort" /></div></th>
            <th scope="col" jhiSortBy="referencias"><div class="d-flex"><span jhiTranslate="roomApp.solicitudRoomie.referencias">Referencias</span><fa-icon class="p-1" icon="sort" /></div></th>
            <th scope="col" jhiSortBy="estado"><div class="d-flex"><span jhiTranslate="roomApp.solicitudRoomie.estado">Estado</span><fa-icon class="p-1" icon="sort" /></div></th>
            <th scope="col" jhiSortBy="fechaCreacion"><div class="d-flex"><span jhiTranslate="roomApp.solicitudRoomie.fechaCreacion">Fecha</span><fa-icon class="p-1" icon="sort" /></div></th>
            <th scope="col" jhiSortBy="postulante.primerNombre"><div class="d-flex"><span jhiTranslate="roomApp.solicitudRoomie.postulante">Postulante</span><fa-icon class="p-1" icon="sort" /></div></th>
            <th scope="col" jhiSortBy="publicacionRoomie.id"><div class="d-flex"><span jhiTranslate="roomApp.solicitudRoomie.publicacionRoomie">Publicación</span><fa-icon class="p-1" icon="sort" /></div></th>
            <th scope="col" class="rr-col-actions"></th>
          </tr>
        </thead>
        <tbody>
          @for (solicitudRoomie of filteredItems(); track trackId(solicitudRoomie)) {
            <tr data-cy="entityTable">
              <td><a [routerLink]="['/solicitud-roomie', solicitudRoomie.id, 'view']">{{ solicitudRoomie.id }}</a></td>
              <td>{{ solicitudRoomie.mensaje }}</td>
              <td>{{ solicitudRoomie.referencias }}</td>
              <td [jhiTranslate]="'roomApp.EstadoSolicitud.' + (solicitudRoomie.estado ?? 'null')">{{ solicitudRoomie.estado }}</td>
              <td>{{ solicitudRoomie.fechaCreacion | formatMediumDatetime }}</td>
              <td>
                @if (solicitudRoomie.postulante) {
                  <a [routerLink]="['/perfil-usuario', solicitudRoomie.postulante.id, 'view']">{{ solicitudRoomie.postulante.primerNombre }}</a>
                }
              </td>
              <td>
                @if (solicitudRoomie.publicacionRoomie) {
                  <a [routerLink]="['/publicacion-roomie', solicitudRoomie.publicacionRoomie.id, 'view']">{{ solicitudRoomie.publicacionRoomie.id }}</a>
                }
              </td>
              <td class="rr-col-actions">
                <div class="rr-actions">
                  <a [routerLink]="['/solicitud-roomie', solicitudRoomie.id, 'view']" class="rr-btn-action rr-btn-view" title="Ver" data-cy="entityDetailsButton"><fa-icon icon="eye" /></a>
                  <a [routerLink]="['/solicitud-roomie', solicitudRoomie.id, 'edit']" class="rr-btn-action rr-btn-edit" title="Editar" data-cy="entityEditButton"><fa-icon icon="pencil-alt" /></a>
                  <button type="button" (click)="delete(solicitudRoomie)" class="rr-btn-action rr-btn-delete" title="Eliminar" data-cy="entityDeleteButton"><fa-icon icon="trash-alt" /></button>
                </div>
              </td>
            </tr>
          }
        </tbody>
      </table>
    </div>

    <div class="rr-pagination-area">
      <jhi-item-count [params]="{ page: page(), totalItems: totalItems(), itemsPerPage: itemsPerPage() }" />
      <ngb-pagination
        [collectionSize]="totalItems()"
        [page]="page()"
        [pageSize]="itemsPerPage()"
        [maxSize]="5"
        [rotate]="true"
        [boundaryLinks]="true"
        (pageChange)="navigateToPage($event)"
      />
    </div>
  }
</div>
