<div class="rr-table-container">
  <jhi-alert-error />
  <jhi-alert />

  <rr-table-toolbar
    title="Contratos de Arriendo"
    description="Contratos de arrendamiento activos y cerrados"
    [createRoute]="['/contrato-arriendo/new']"
    createLabel="Nuevo Contrato"
    [isLoading]="isLoading()"
    [totalCount]="totalItems()"
    (searchChange)="searchTerm.set($event)"
    (refresh)="load()"
  />

  @if (filteredItems().length === 0) {
    <rr-empty-state
      entityLabel="contratos"
      [createRoute]="['/contrato-arriendo/new']"
      createLabel="Crear Contrato"
      [searchActive]="searchTerm().length > 0"
    />
  } @else {
    <div class="rr-table-wrap" id="entities">
      <table class="rr-table" aria-describedby="page-heading">
        <thead>
          <tr jhiSort [(sortState)]="sortState" (sortChange)="navigateToWithComponentValues($event)">
            <th scope="col" jhiSortBy="id"><div class="d-flex"><span jhiTranslate="global.field.id">ID</span><fa-icon class="p-1" icon="sort" /></div></th>
            <th scope="col" jhiSortBy="numeroContrato"><div class="d-flex"><span jhiTranslate="roomApp.contratoArriendo.numeroContrato">Número</span><fa-icon class="p-1" icon="sort" /></div></th>
            <th scope="col" jhiSortBy="fechaInicio"><div class="d-flex"><span jhiTranslate="roomApp.contratoArriendo.fechaInicio">Inicio</span><fa-icon class="p-1" icon="sort" /></div></th>
            <th scope="col" jhiSortBy="fechaFin"><div class="d-flex"><span jhiTranslate="roomApp.contratoArriendo.fechaFin">Fin</span><fa-icon class="p-1" icon="sort" /></div></th>
            <th scope="col" jhiSortBy="valorMensual"><div class="d-flex"><span jhiTranslate="roomApp.contratoArriendo.valorMensual">Valor/Mes</span><fa-icon class="p-1" icon="sort" /></div></th>
            <th scope="col" jhiSortBy="valorDeposito"><div class="d-flex"><span jhiTranslate="roomApp.contratoArriendo.valorDeposito">Depósito</span><fa-icon class="p-1" icon="sort" /></div></th>
            <th scope="col" jhiSortBy="estado"><div class="d-flex"><span jhiTranslate="roomApp.contratoArriendo.estado">Estado</span><fa-icon class="p-1" icon="sort" /></div></th>
            <th scope="col" jhiSortBy="arrendador.primerNombre"><div class="d-flex"><span jhiTranslate="roomApp.contratoArriendo.arrendador">Arrendador</span><fa-icon class="p-1" icon="sort" /></div></th>
            <th scope="col" jhiSortBy="arrendatario.primerNombre"><div class="d-flex"><span jhiTranslate="roomApp.contratoArriendo.arrendatario">Arrendatario</span><fa-icon class="p-1" icon="sort" /></div></th>
            <th scope="col" jhiSortBy="inmueble.id"><div class="d-flex"><span jhiTranslate="roomApp.contratoArriendo.inmueble">Inmueble</span><fa-icon class="p-1" icon="sort" /></div></th>
            <th scope="col" class="rr-col-actions"></th>
          </tr>
        </thead>
        <tbody>
          @for (contratoArriendo of filteredItems(); track trackId(contratoArriendo)) {
            <tr data-cy="entityTable">
              <td><a [routerLink]="['/contrato-arriendo', contratoArriendo.id, 'view']">{{ contratoArriendo.id }}</a></td>
              <td>{{ contratoArriendo.numeroContrato }}</td>
              <td>{{ contratoArriendo.fechaInicio | formatMediumDate }}</td>
              <td>{{ contratoArriendo.fechaFin | formatMediumDate }}</td>
              <td>{{ contratoArriendo.valorMensual }}</td>
              <td>{{ contratoArriendo.valorDeposito }}</td>
              <td [jhiTranslate]="'roomApp.EstadoContrato.' + (contratoArriendo.estado ?? 'null')">{{ contratoArriendo.estado }}</td>
              <td>
                @if (contratoArriendo.arrendador) {
                  <a [routerLink]="['/perfil-usuario', contratoArriendo.arrendador.id, 'view']">{{ contratoArriendo.arrendador.primerNombre }}</a>
                }
              </td>
              <td>
                @if (contratoArriendo.arrendatario) {
                  <a [routerLink]="['/perfil-usuario', contratoArriendo.arrendatario.id, 'view']">{{ contratoArriendo.arrendatario.primerNombre }}</a>
                }
              </td>
              <td>
                @if (contratoArriendo.inmueble) {
                  <a [routerLink]="['/inmueble', contratoArriendo.inmueble.id, 'view']">{{ contratoArriendo.inmueble.id }}</a>
                }
              </td>
              <td class="rr-col-actions">
                <div class="rr-actions">
                  <a [routerLink]="['/contrato-arriendo', contratoArriendo.id, 'view']" class="rr-btn-action rr-btn-view" title="Ver" data-cy="entityDetailsButton"><fa-icon icon="eye" /></a>
                  <a [routerLink]="['/contrato-arriendo', contratoArriendo.id, 'edit']" class="rr-btn-action rr-btn-edit" title="Editar" data-cy="entityEditButton"><fa-icon icon="pencil-alt" /></a>
                  <button type="button" (click)="delete(contratoArriendo)" class="rr-btn-action rr-btn-delete" title="Eliminar" data-cy="entityDeleteButton"><fa-icon icon="trash-alt" /></button>
                </div>
              </td>
            </tr>
          }
        </tbody>
      </table>
    </div>

    <div class="rr-pagination-area">
      <jhi-item-count [params]="{ page: page(), totalItems: totalItems(), itemsPerPage: itemsPerPage() }" />
      <ngb-pagination
        [collectionSize]="totalItems()"
        [page]="page()"
        [pageSize]="itemsPerPage()"
        [maxSize]="5"
        [rotate]="true"
        [boundaryLinks]="true"
        (pageChange)="navigateToPage($event)"
      />
    </div>
  }
</div>
