<div class="rr-table-container">
  <jhi-alert-error />
  <jhi-alert />

  <rr-table-toolbar
    title="Documentos de Usuario"
    description="Archivos y documentos de verificación"
    [createRoute]="['/documento-usuario/new']"
    createLabel="Nuevo Documento"
    [isLoading]="isLoading()"
    [totalCount]="totalItems()"
    (searchChange)="searchTerm.set($event)"
    (refresh)="load()"
  />

  @if (filteredItems().length === 0) {
    <rr-empty-state
      entityLabel="documentos"
      [createRoute]="['/documento-usuario/new']"
      createLabel="Subir Documento"
      [searchActive]="searchTerm().length > 0"
    />
  } @else {
    <div class="rr-table-wrap" id="entities">
      <table class="rr-table" aria-describedby="page-heading">
        <thead>
          <tr jhiSort [(sortState)]="sortState" (sortChange)="navigateToWithComponentValues($event)">
            <th scope="col" jhiSortBy="id"><div class="d-flex"><span jhiTranslate="global.field.id">ID</span><fa-icon class="p-1" icon="sort" /></div></th>
            <th scope="col" jhiSortBy="tipoDocumento"><div class="d-flex"><span jhiTranslate="roomApp.documentoUsuario.tipoDocumento">Tipo</span><fa-icon class="p-1" icon="sort" /></div></th>
            <th scope="col" jhiSortBy="nombreDocumento"><div class="d-flex"><span jhiTranslate="roomApp.documentoUsuario.nombreDocumento">Nombre</span><fa-icon class="p-1" icon="sort" /></div></th>
            <th scope="col" jhiSortBy="tipoMime"><div class="d-flex"><span jhiTranslate="roomApp.documentoUsuario.tipoMime">MIME</span><fa-icon class="p-1" icon="sort" /></div></th>
            <th scope="col" jhiSortBy="tamanoArchivo"><div class="d-flex"><span jhiTranslate="roomApp.documentoUsuario.tamanoArchivo">Tamaño</span><fa-icon class="p-1" icon="sort" /></div></th>
            <th scope="col" jhiSortBy="fechaCarga"><div class="d-flex"><span jhiTranslate="roomApp.documentoUsuario.fechaCarga">Fecha Carga</span><fa-icon class="p-1" icon="sort" /></div></th>
            <th scope="col" jhiSortBy="aprobado"><div class="d-flex"><span jhiTranslate="roomApp.documentoUsuario.aprobado">Aprobado</span><fa-icon class="p-1" icon="sort" /></div></th>
            <th scope="col" jhiSortBy="perfilUsuario.id"><div class="d-flex"><span jhiTranslate="roomApp.documentoUsuario.perfilUsuario">Perfil</span><fa-icon class="p-1" icon="sort" /></div></th>
            <th scope="col" class="rr-col-actions"></th>
          </tr>
        </thead>
        <tbody>
          @for (documentoUsuario of filteredItems(); track trackId(documentoUsuario)) {
            <tr data-cy="entityTable">
              <td><a [routerLink]="['/documento-usuario', documentoUsuario.id, 'view']">{{ documentoUsuario.id }}</a></td>
              <td [jhiTranslate]="'roomApp.TipoDocumento.' + (documentoUsuario.tipoDocumento ?? 'null')">{{ documentoUsuario.tipoDocumento }}</td>
              <td>{{ documentoUsuario.nombreDocumento }}</td>
              <td>{{ documentoUsuario.tipoMime }}</td>
              <td>{{ documentoUsuario.tamanoArchivo }}</td>
              <td>{{ documentoUsuario.fechaCarga | formatMediumDatetime }}</td>
              <td>{{ documentoUsuario.aprobado }}</td>
              <td>
                @if (documentoUsuario.perfilUsuario) {
                  <a [routerLink]="['/perfil-usuario', documentoUsuario.perfilUsuario.id, 'view']">{{ documentoUsuario.perfilUsuario.id }}</a>
                }
              </td>
              <td class="rr-col-actions">
                <div class="rr-actions">
                  <a [routerLink]="['/documento-usuario', documentoUsuario.id, 'view']" class="rr-btn-action rr-btn-view" title="Ver" data-cy="entityDetailsButton"><fa-icon icon="eye" /></a>
                  <a [routerLink]="['/documento-usuario', documentoUsuario.id, 'edit']" class="rr-btn-action rr-btn-edit" title="Editar" data-cy="entityEditButton"><fa-icon icon="pencil-alt" /></a>
                  <button type="button" (click)="delete(documentoUsuario)" class="rr-btn-action rr-btn-delete" title="Eliminar" data-cy="entityDeleteButton"><fa-icon icon="trash-alt" /></button>
                </div>
              </td>
            </tr>
          }
        </tbody>
      </table>
    </div>

    <div class="rr-pagination-area">
      <jhi-item-count [params]="{ page: page(), totalItems: totalItems(), itemsPerPage: itemsPerPage() }" />
      <ngb-pagination
        [collectionSize]="totalItems()"
        [page]="page()"
        [pageSize]="itemsPerPage()"
        [maxSize]="5"
        [rotate]="true"
        [boundaryLinks]="true"
        (pageChange)="navigateToPage($event)"
      />
    </div>
  }
</div>
