<div class="rr-table-container">
  <jhi-alert-error />
  <jhi-alert />

  <rr-table-toolbar
    title="Solicitudes de Arriendo"
    description="Solicitudes enviadas por arrendatarios"
    [createRoute]="['/solicitud-arriendo/new']"
    createLabel="Nueva Solicitud"
    [isLoading]="isLoading()"
    [totalCount]="totalItems()"
    (searchChange)="searchTerm.set($event)"
    (refresh)="load()"
  />

  @if (filteredItems().length === 0) {
    <rr-empty-state
      entityLabel="solicitudes de arriendo"
      [createRoute]="['/solicitud-arriendo/new']"
      createLabel="Crear Solicitud"
      [searchActive]="searchTerm().length > 0"
    />
  } @else {
    <div class="rr-table-wrap" id="entities">
      <table class="rr-table" aria-describedby="page-heading">
        <thead>
          <tr jhiSort [(sortState)]="sortState" (sortChange)="navigateToWithComponentValues($event)">
            <th scope="col" jhiSortBy="id"><div class="d-flex"><span jhiTranslate="global.field.id">ID</span><fa-icon class="p-1" icon="sort" /></div></th>
            <th scope="col" jhiSortBy="mensaje"><div class="d-flex"><span jhiTranslate="roomApp.solicitudArriendo.mensaje">Mensaje</span><fa-icon class="p-1" icon="sort" /></div></th>
            <th scope="col" jhiSortBy="aceptaTerminos"><div class="d-flex"><span jhiTranslate="roomApp.solicitudArriendo.aceptaTerminos">Acepta Términos</span><fa-icon class="p-1" icon="sort" /></div></th>
            <th scope="col" jhiSortBy="estado"><div class="d-flex"><span jhiTranslate="roomApp.solicitudArriendo.estado">Estado</span><fa-icon class="p-1" icon="sort" /></div></th>
            <th scope="col" jhiSortBy="fechaCreacion"><div class="d-flex"><span jhiTranslate="roomApp.solicitudArriendo.fechaCreacion">Fecha</span><fa-icon class="p-1" icon="sort" /></div></th>
            <th scope="col" jhiSortBy="arrendatario.primerNombre"><div class="d-flex"><span jhiTranslate="roomApp.solicitudArriendo.arrendatario">Arrendatario</span><fa-icon class="p-1" icon="sort" /></div></th>
            <th scope="col" jhiSortBy="publicacion.id"><div class="d-flex"><span jhiTranslate="roomApp.solicitudArriendo.publicacion">Publicación</span><fa-icon class="p-1" icon="sort" /></div></th>
            <th scope="col" class="rr-col-actions"></th>
          </tr>
        </thead>
        <tbody>
          @for (solicitudArriendo of filteredItems(); track trackId(solicitudArriendo)) {
            <tr data-cy="entityTable">
              <td><a [routerLink]="['/solicitud-arriendo', solicitudArriendo.id, 'view']">{{ solicitudArriendo.id }}</a></td>
              <td>{{ solicitudArriendo.mensaje }}</td>
              <td>{{ solicitudArriendo.aceptaTerminos }}</td>
              <td [jhiTranslate]="'roomApp.EstadoSolicitud.' + (solicitudArriendo.estado ?? 'null')">{{ solicitudArriendo.estado }}</td>
              <td>{{ solicitudArriendo.fechaCreacion | formatMediumDatetime }}</td>
              <td>
                @if (solicitudArriendo.arrendatario) {
                  <a [routerLink]="['/perfil-usuario', solicitudArriendo.arrendatario.id, 'view']">{{ solicitudArriendo.arrendatario.primerNombre }}</a>
                }
              </td>
              <td>
                @if (solicitudArriendo.publicacion) {
                  <a [routerLink]="['/publicacion-inmueble', solicitudArriendo.publicacion.id, 'view']">{{ solicitudArriendo.publicacion.id }}</a>
                }
              </td>
              <td class="rr-col-actions">
                <div class="rr-actions">
                  <a [routerLink]="['/solicitud-arriendo', solicitudArriendo.id, 'view']" class="rr-btn-action rr-btn-view" title="Ver" data-cy="entityDetailsButton"><fa-icon icon="eye" /></a>
                  <a [routerLink]="['/solicitud-arriendo', solicitudArriendo.id, 'edit']" class="rr-btn-action rr-btn-edit" title="Editar" data-cy="entityEditButton"><fa-icon icon="pencil-alt" /></a>
                  <button type="button" (click)="delete(solicitudArriendo)" class="rr-btn-action rr-btn-delete" title="Eliminar" data-cy="entityDeleteButton"><fa-icon icon="trash-alt" /></button>
                </div>
              </td>
            </tr>
          }
        </tbody>
      </table>
    </div>

    <div class="rr-pagination-area">
      <jhi-item-count [params]="{ page: page(), totalItems: totalItems(), itemsPerPage: itemsPerPage() }" />
      <ngb-pagination
        [collectionSize]="totalItems()"
        [page]="page()"
        [pageSize]="itemsPerPage()"
        [maxSize]="5"
        [rotate]="true"
        [boundaryLinks]="true"
        (pageChange)="navigateToPage($event)"
      />
    </div>
  }
</div>
